<app-header></app-header>


<div class="container-navbar">

    <div class="menu-navegacion">

        <div class="menu">
            <a routerLink="/aboutme">Sobre Mi</a>
        </div>

        <div class="menu">
            <a routerLink="/education">Educacion</a>
        </div>

        <div class="menu">
            <a routerLink="/experience">Experiencia</a>
        </div>

        <div class="menu">
            <a routerLink="/skills">Skills</a>
        </div>

        <div class="menu">
            <a routerLink="/projects">Proyectos</a>
        </div>

    
    </div>





</div>


<div class="menu-dinamico">
    <router-outlet>
    </router-outlet>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>